/*
 * Copyright (C) 2022 Mercadian Systems LLC
 */
 
/dts-v1/;
/plugin/;

// Overwrites the GPIO pin used for the User LED and the default trigger.
/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			leds {
				compatible = "gpio-leds";
				pinctrl-names = "default";
				pinctrl-0 = <&led_rgb_b>;

				led_rgb_b {
					function = "status";
					color = <1>;
					gpios = <&gpio3 4 0>; // GPIO3_A4, which is pin 16 (GPIO 100)
					linux,default-trigger = "activity";
				};

				disable_old_led {
					function = "status";
					color = <1>;
					gpios = <&gpio0 15 0>; // GPIO3_A4, which is pin 16 (GPIO 100)
					linux,default-trigger = "none";
				};
			};
		};
	};

	fragment@1 {
		target = <&pinctrl>;
		__overlay__ {
			leds {
				led_rgb_b: led-rgb-b {
					rockchip,pins = <3 4 0 &pcfg_pull_none>;
				};

				disable_old_led: disable-old-led {
					rockchip,pins = <0 15 0 &pcfg_pull_down>;
				};
			};
		};
	};
};